<ion-content>
  <div class="buttons-label" style="margin-top: 140%;">
    <ion-row class="ion-justify-content-center">
      <ion-col size="9"> 
        <ion-button color="secondary" type="button" shape="round" expand="full" size="large"
          [routerLink]="['/image-preview']" routerLinkActive="router-link-active">
          Get started
          <ion-icon name="camera" slot="end"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="9">
        <ion-button color="secondary" type="button" shape="round" expand="full" size="large"
          [routerLink]="['/help']" routerLinkActive="router-link-active">
          Help
          <ion-icon name="information-circle-outline" slot="end"></ion-icon>        
       </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
